<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Expert System for Diagnosis and Treatement of Cholera<{% endblock %}</title>
    <!-- Additional common CSS or JS files -->
    
    {% block CSS %}{% endblock %}
</head>
<body>
    <header>
        <!-- Common header content -->
        {% block header %}{% endblock %}
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
    <!-- Additional common JS files -->
    
    {% block JS %}{% endblock %}
    </footer>
</body>
</html>
