{% extends '_base.html' %}
{% include 'header.html' %}
{% block CSS %}
<style type="text/css">
:root {
  --color-1: hsl(223, 90%,40%);
  --color-1-hover: #4338ca;
  --color-2: hsl(223, 90%,10%);
  --color-2-hover: #0891b2;
  --text-color: #312e81;
  --status-btn-bg: #f8fafc;
  --status-btn-bg-hover: #f1f5f9;
}

body {
  background: linear-gradient(to left, var(--color-1), var(--color-2));
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="tab-status">
    <span class="tab active">1</span>
    <span class="tab">2</span>
    <span class="tab">3</span>
    <span class="tab">4</span>
  </div>
  <form action="/diagnosis" method="POST" enctype="application/json">
    <div id="diagnosisF" role="tab-list">
      <div role="tabpanel" class="tabpanel">
        <h3>Do you have Diarrhea(stool watery stool)</h3>
        <textarea name="ques1" id="ques1" class="form-input" placeholder="Yes or No"></textarea>
      </div>
      <div role="tabpanel" id="tabpanel2" class="tabpanel hidden">
        <h3>Do you experience Nausea or Vomiting?</h3>
        <textarea name="ques2" id="ques2" class="form-input" placeholder="Yes or No"></textarea>
      </div>

      <div role="tabpanel" class="tabpanel hidden">
        <h3>Do you feel Dehydrated(your system has lost much water)?</h3>
        <textarea name="ques3" id="ques3" class="form-input" placeholder="Yes or No"></textarea>
      </div>
      <div role="tabpanel" class="tabpanel hidden">
        <h3>Is Cholera outbreak declared in your area?</h3>
        <textarea name="ques4" id="ques4" class="form-input" placeholder="Yes or No"></textarea>
      </div>
    </div>
      <div class="pagination">
        <a class="btn hidden" id="prev">Previous</a>
        <a class="btn" id="next">Continue</a>
        <button type="submit" class="btn btn-submit hidden" id="submit" onclick="submitData()">Submit</button>
      </div>
    </form>
</div>
{% endblock %}
{% block JS %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}