{% extends "_base.html" %}
{% block CSS %}
<style type="text/css">
  * {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 223;
  --bg: hsl(var(--hue),90%,10%);
  --fg: hsl(var(--hue),90%,90%);
  --primary: hsl(var(--hue),90%,50%);
  --trans-dur: 0.3s;
  font-size: calc(20px + (40 - 20) * (100vw - 320px) / (2560 - 320));
}
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

<div class="pl-body">
  <div class="title-text">
    <span class="text" data-text="Expert system for diagnosis and treatment of Cholera">Expert system for diagnosis and treatment of Cholera</span>  
  </div>
  <div class="pl">
    <svg class="pl__rings" viewBox="0 0 128 128" width="128px" height="128px">
      <g fill="none" stroke-linecap="round" stroke-width="4">
        <g class="pl__ring" transform="rotate(0)">
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.3)" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.5)" stroke-dasharray="50 240" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsl(223,90%,50%)" stroke-dasharray="25 265" />
        </g>
        <g class="pl__ring" transform="rotate(0)">
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0)" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.5)" stroke-dasharray="50 240" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsl(223,90%,50%)" stroke-dasharray="25 265" />
        </g>
        <g class="pl__ring" transform="rotate(0)">
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0)" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.5)" stroke-dasharray="50 240" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsl(223,90%,50%)" stroke-dasharray="25 265" />
        </g>
        <g class="pl__ring" transform="rotate(0)">
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0)" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.5)" stroke-dasharray="50 240" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsl(223,90%,50%)" stroke-dasharray="25 265" />
        </g>
        <g class="pl__ring" transform="rotate(180)">
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.3)" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.5)" stroke-dasharray="50 240" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsl(223,90%,50%)" stroke-dasharray="25 265" />
        </g>
        <g class="pl__ring" transform="rotate(180)">
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0)" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsla(223,90%,50%,0.5)" stroke-dasharray="50 240" />
          <ellipse class="pl__orbit" cx="64" cy="64" rx="60" ry="30" stroke="hsl(223,90%,50%)" stroke-dasharray="25 265" />
        </g>
        <g class="pl__ring" transform="rotate(0)">
          <ellipse class="pl__electron" cx="64" cy="64" rx="60" ry="30" stroke="hsl(0,0%,100%)" stroke-dasharray="1 289" stroke-width="8" />
          <ellipse class="pl__electron" cx="64" cy="64" rx="60" ry="30" stroke="hsl(0,0%,100%)" stroke-dasharray="1 289" stroke-width="8" />
        </g>
        <g class="pl__ring" transform="rotate(180)">
          <ellipse class="pl__electron" cx="64" cy="64" rx="60" ry="30" stroke="hsl(0,0%,100%)" stroke-dasharray="1 289" stroke-width="8" />
          <ellipse class="pl__electron" cx="64" cy="64" rx="60" ry="30" stroke="hsl(0,0%,100%)" stroke-dasharray="1 289" stroke-width="8" />
          <ellipse class="pl__electron" cx="64" cy="64" rx="60" ry="30" stroke="hsl(0,0%,100%)" stroke-dasharray="1 289" stroke-width="8" />
          <ellipse class="pl__electron" cx="64" cy="64" rx="60" ry="30" stroke="hsl(0,0%,100%)" stroke-dasharray="1 289" stroke-width="8" />  
        </g>
      </g>
    </svg>
    <div class="pl__nucleus">
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
      <div class="pl__nucleus-particle"></div>
    </div>
    <div class="start-pres">
    <a href="/diagnosis">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Begin test
    </a>
  </div>
  </div>
</div>
{% endblock %}